* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    margin: 50px;
}

body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#gallery img {
    width: 100%;
    height: auto;
    max-width: 300px;
    object-fit: cover;
}